.pagina-carrinho {
  #corpo {
    .acao-editar {

      a {
        @include remove-shadow;
        background-color: $color-gray-light;
        border: 0px;
        font-family: $second-font;
        font-weight: 500;
        background-image: none;
        text-transform: uppercase;
        height: auto;
        width: auto;
        padding: 10px 15px;
      }

      button {
        background-image: none;
        background-color: $color-orange;
        text-transform: uppercase;
        font-family: $second-font;
        padding: 10px 15px;
        i {
          margin-left: 0px;
        }

        &:hover {
          background-color: $color-orange-dark;
        }
      }
    }
  }
}