.pagina-categoria {
  .listagem-linha {
    .row-fluid {
      @media screen and ($onlyDesktop) {
        display: flex;
        justify-content: space-between;

        >li {
          margin: 0px;
          width: calc((100% / 4) - 10px);
        }
      }
    }
  }
}