#corpo .titulo-categoria {
  border: 0px;
  text-align: center;
  margin: 20px 0px;
  strong {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: $second-font;
    font-size: 42px;
    font-weight: 400;
    color: $color-gray-dark;
    text-transform: uppercase;

    

    &:after {
      content: "";
      background-image: url('https://toni-armas-store.vercel.app/img/bullet.png?1');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      display: block;
      width: 50px;
      height: 20px;
    }


    @media screen and #{$onlyMobile} {
      font-size: 36px;
      &:after {
        width: 50px;
        height: 30px;
      }
    }
  }

  &:hover {
    background-color: inherit;
    padding-left: inherit;
  }
}

