.barra-inicial {
  display: none;
}

#cabecalho {

  .carrinho-interno {
    @include remove-shadow;
    top: 35px;
    display: block;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    padding: 0px;
    border: 0px;

    > ul {
      @include box-sizing;
      box-sizing: border-box;
      padding: 10px;
      border-left: 1px solid $color-gray-light;
      max-height: 232px;

      > li {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row-reverse;
        box-sizing: border-box;
        background-color: #FFF;
        & + li {
          margin-top: 10px;
        }

        .imagem-produto {
          display: block;
          width: 80px;
          height: 80px;
          box-sizing: border-box;
          border: 1px solid $color-gray-light;
          margin-right: 10px;
        }

        .nome-produto {
          width: auto;
          margin: 0px;

          &:hover {
            text-decoration: none;
          }
        }

        .preco-produto {
          float: none;
          width: auto;
          margin: 0;
          max-width: 170px;
        }
      }

      /* width */
      &::-webkit-scrollbar {
        width: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $color-gray-dark;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $color-orange;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    
    .carrinho-rodape {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      background-color: $color-gray-dark;
      margin-top: 0px;

      &:after {
        display: none;
      }

      .botao {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-orange;
        padding: 0px;
        margin: 0px;
        border: 0px;
        transition: all .3s;
        font-size: 0px;
        height: 70px;
        width: 70px;
        i {
          font-size: 40px;
          margin: 0px;
        }
        &:hover {
          background-color: $color-orange-dark;
        }
      }

      .carrinho-info {
        margin-left: 10px;

        > i {
          font-family: $second-font;
          font-size: 17px;
          color: $color-gray-light;
          font-style: inherit;
          
        }

        .carrino-total {
          font-family: $second-font;
          font-size: 17px;
          color: $color-gray-light;
          font-style: inherit;
          margin: 0px;
          text-transform: uppercase;

          strong {
            font-family: $second-font;
            font-size: 25px;
            line-height: 25px;
            font-weight: 700;
            color: #FFF;
            padding: 0px;
            margin: 0px;
          }
        }
      }
    }
  }

  // BAR TOP AREA
  .row-fluid {
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;

    &.superior {
      justify-content: flex-start;
    }

    &.inferior {
      justify-content: flex-end;
    }


    .span1,
    .span2,
    .span3,
    .span4,
    .span5,
    .span6,
    .span7,
    .span8,
    .span9,
    .span10 {
      margin: 0;
      padding: 0;
      width: auto;
    }

    .span3,
    .hidden-phone>.span8 {
      display: none;
    }

    .conteudo-topo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: $res-wrapper;
      margin: 0;
    }

    .superior {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
    }

    .acoes-conta {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .inferior {
      &:before {
        display: none;
      }
    }

  }

  .busca {
    box-sizing: border-box;
    padding: 0px;
    border: 0px;
    border-radius: inherit;

    #form-buscar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
    }

    #auto-complete {
      box-sizing: border-box;
      height: 35px;
      width: 100%;
      max-width: 250px;
      border-radius: 0px;
    }

    .botao {
      @include remove-shadow;
      border: 0;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      background-color: $color-orange;
      position: inherit;
      border-style: outset;

      &:before {
        font-size: 20px;
      }

    }
  }

  .carrinho {
    background-color: $color-gray-dark;
    box-sizing: border-box;
    height: 35px;
    width: auto;
    margin: 0px;
    padding: 0px;
    border: 0px;
    transition: all .3s;

    &:hover {
      background-color: $color-gray;
      .carrinho-interno {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
      }
    }

    >a {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      >span {
        padding: 0px;
        margin: 0px;
        line-height: inherit;
      }
    }

    .icon-shopping-cart {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      font-size: 20px;
      background: transparent;
      color: #FFF;
      margin-right: 10px;

      &:hover {
        opacity: 1;
      }
    }

    .qtd-carrinho {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-orange;
      position: absolute;
      top: 0px;
      left: 20px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 0px;
      margin: 0px;
      font-family: $first-font;
      font-size: 15px;
      font-weight: 500;
      color: #fff;

    }

    .titulo:not(.qtd-carrinho) {
      font-family: $first-font;
      font-size: 12px;
      color: #FFF;
      padding: 0px;
      margin: 0px;
      line-height: inherit;
      padding: 0px 15px 0px 0px;

      &+span {
        display: none;
      }
    }
  }

  .bem-vindo {
    background-color: $color-gray-dark;
    box-sizing: border-box;
    height: 35px;
    width: auto;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &:hover {
      text-decoration: none;
    }

    >i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      font-size: 20px;
      background: transparent;
      color: #FFF;
    }

    >span {
      font-family: $first-font;
      font-size: 12px;
      color: #FFF;
      padding: 0px;
      margin: 0px;
      line-height: inherit;
      padding: 0px 15px 0px 0px;
    }
  }

  // LOGO + MENU AREA
  .conteiner {
    @include remove-shadow;
    box-sizing: border-box;
    width: 100%;
    max-width: inherit;
    background-color: #FFF;
    padding: 0px;
  }

  .menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $res-wrapper;
    margin: 0px auto;
  }

  .menu {
    background-color: #FFF;
    box-sizing: border-box;
    height: auto;
    margin: 0px;
    font-family: $second-font;
    color: $color-gray-dark;
    font-weight: 500;
    padding: 5px;

    .nivel-um {
      li {
        border: 0px;
        padding: 5px 10px;
        margin: 0;
        background-color: transparent;

        a {
          strong {
            font-family: $first-font;
            color: $color-gray-dark;
            font-weight: 500;
            transition: all 0.3s;
            font-size: 16px;
          }

          i {
            background-color: inherit;
            margin-left: 0px;
            position: relative;
            bottom: 2px;
            margin-left: 2px;

            &:before {
              color: $color-gray-dark;
              font-size: 15px;
              transition: all .3s;
            }
          }
        }

        &.active,
        &:hover {
          a {
            strong {
              font-family: $first-font;
              color: $color-orange;
            }

            i {
              &:before {
                color: $color-orange;

              }
            }
          }
        }

        &:hover {
          .nivel-dois {
            visibility: visible;
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }


    }

    .nivel-dois {
      @include remove-shadow;
      background-color: $color-orange;
      padding: 0;
      display: inherit;
      visibility: hidden;
      opacity: 0;
      transform: translateY(30px);
      transition: all .3s;

      li {
        transition: all .3s;
        padding: 5px 10px;

        a {
          font-family: $first-font;
          color: #FFF;
          font-size: 14px;
        }

        &:hover {
          background-color: $color-orange-light;
        }
      }
    }
  }

  .logo {
    width: 131px;
    transition: all 0.3s;

    img {
      width: 100%;
      height: auto;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}