#corpo div.listagem {

  .listagem-item {
    @include remove-shadow;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid #d4d4d4;
    padding: 0px;
    height: 100%;

    .bandeiras-produto{
      span {
        @include remove-shadow;
        border: 0;
        background-color: $color-orange;
        font-family: $third-font;
        color: #FFF;
      }
    }


    .acoes-produto,
    .acoes-produto-responsiva {
      display: none !important;
    }

    .imagem-produto {
      overflow: hidden;
      width: 100%;
      height: 300px;
      border: 0px;
      
      > img {
        // display: block;
        // max-width:500px;
        // max-height:500px;
        // width: auto;
        // height: 100%;
        // position: absolute;
        // top: 0%;
        // left: 50%;
        // transform: translateX(-50%);
        // margin: 0px;
      }
    }

    .info-produto {
      padding: 0px;
      margin: 0px;
      width: 100%;
      margin-top: auto;
    }

    .nome-produto {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 10px;
      font-family: $third-font;
      color: $color-gray-dark;
      font-size: 14px;
      width: 100%;
      min-height: 80px;
      text-align: center;
      text-transform: uppercase;
    }

    .preco-produto {
      //border-top: 1px solid $color-orange;
      box-sizing: border-box;
      height: 70px;
      position: relative;
      padding-top: 3px;

      > div,
      > span {
        box-sizing: border-box;
        display: block;
        width: calc(100% - 70px);
        padding-left: 10px;
        margin: 0px;
      }

      &:after {
        @include set-icon($fa-var-shopping-cart, 20px, 900, $color-orange);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 0;
        right: 0;
      }

      .preco-parcela {
        font-family: $second-font;
        color: $color-gray;
        font-size: 12px;
        margin-top: 5px;
        display: block;
        * {
          font-family: $second-font;
          color: $color-gray;
          font-size: 12px;
        }
      }

      .preco-promocional {
        font-family: $second-font;
        font-size: 20px;
        color: #FFF;
        display: none;
      }

      .desconto-a-vista {
        font-size: 0px;
        letter-spacing: 0;
        line-height: 0px;
        color: $color-gray-dark;
        strong {
          &:before {
            content: "ou ";
            font-family: $second-font;
            font-size: 12px;
            color: $color-gray-dark;
            line-height: 12px;
            margin-bottom: 5px;

            @media (min-width:#{$mobileM}) and (max-width:#{$tablet}) {
              display: none;
            }
          }
          font-family: $second-font;
          font-size: 20px;
          color: $color-gray-dark;
          display: block;
          line-height: 20px;
        }
        &:after {
          content: "via Boleto Bancário";
          font-family: $second-font;
          font-size: 12px;
          color: $color-gray-dark;
          line-height: 12px;

        }
      }
    }

  }
}