header{
    @include transition;
   
    > .wrapper{
        @include flexbox(row, nowrap, space-between, space-between, space-between);
        width: 100%;
        max-width: inherit;
        position: fixed;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);

        &.active{
            z-index: 9999;
            @include res-min(850px){
                @include box-shadow(5px, -5px, 8px, #6e6e6e);
                @include transition;
                background: #FFF;
                .menu {
                    @include e('item'){
                        height: 100px;
                        color: rgb(138, 138, 138);
                    }
                }
            }

        }

    }

}

.mobMenu{
    @include flexbox(row, nowrap, space-between, center, center);
    @include box-sizing;
    @include transition;
    width: 100%;
    height: 60px;
    padding: 0px 15px;
    position: fixed;
    z-index: 10;

    .logo_menu,
    .logo_menu_red{
        max-width: 150px;
    }

    .logo_menu{
        @include transition;
    }
    
    .logo_menu_red{
        display: none;
    }

    .buy{
        @include fonte($second-font, 300, 16px, #FFF);
        @include border-radius(5px);
        background-color: rgb(61, 61, 61);
        padding: 5px 10px;
        cursor: pointer;
        &:hover{
            background-color: rgb(41, 41, 41);
        }
    }

    .mobBt{
        @include flexbox(column, nowrap, space-between, flex-start, flex-start);
        @include transition;
        width: 20px;
        height: 16px;
        overflow: hidden;

        > span{
            @include transition(all, 0.6s);
            height: 1px;
            background-color: #FFF;
            display: block;
            position: relative;
        }

        @include e('top'){
            width: 100%;
        }
        @include e('mid'){
            width: 80%;
        }
        @include e('bot'){
            width: 100%;
        }
    
        &.active{
            .mobBt__top{
                @include transform(translate(0, 9px) rotate(492deg));
            }
            .mobBt__mid{
                @include opacity(0);
            }
            .mobBt__bot{
                @include transform(translate(0, -6px) rotate(-492deg));
            }
        }

    }

    @media #{$break-up} {
        @include opacity(0);
        visibility: hidden;
    }

    @media #{$break-down} {
        @include opacity(1);
        visibility: visible;
    }

    &.active{
        background-color:hsla(235, 73%, 6%, 0.9);
        .logo_menu{
            @include opacity(0);
        }
    }

    &.fixed{
        @include box-shadow(5px, -5px, 8px, #6e6e6e);
        background-color: #FFF;
        z-index: 99999;
        .logo_menu{
            display: none;
        }
        .logo_menu_red{
            display: block;
        }
        .mobBt{
            span{
                background-color: rgb(41, 41, 41);
            }
        }
        &.active{
            background-color:hsla(235, 73%, 6%, 0.9);
            .logo_menu_red{
                @include opacity(0);
            }
            .mobBt{
                span{
                    background-color: #FFF;
                }
            }
        }
    }

}

.menu{
    @include box-sizing;

    @media #{$break-up} {
        @include flexbox(row, nowrap, space-between, center, center);
        width: 100%;
        max-width: $res-wrapper;
        margin: 0px auto;

        @include e('item'){
            height: 100px;
        }

        .logo_menu,
        .logo_menu_red{
                max-width: 210px;
                width: 100%;
        }
    }

    @media #{$break-down} {
        @include opacity(0);
        background-color:hsla(235, 73%, 6%, 0.9);
        width: 100%;
        height: calc(100% - 60px);
        overflow-x: auto;
        top: 60px;
        right: 0;
        position: fixed;
        visibility: hidden;
        padding-bottom: 20px;

        &.active{
            @include animate(fadeInDown, 0s);
            visibility: visible;
        }

        &.inactive{
            @include animate(fadeOutUp, 0s);
            visibility: visible;

        }

    }

   @include res-min(851px) {
       .logo_menu,
       .logo_menu_red {
           &.hide {
               display: none;
           }
       }
   }

   @include res-max(850px) {
       .logo_menu,
       .logo_menu_red{
            max-width: 210px;
            width: 100%;
       }
       .logo_menu {
           display: block !important;
       }
       .logo_menu_red{
            display: none !important;
       }
   }

    @include e('item'){
        @include flexbox(row, nowrap, center, center, center);
        @include fonte($second-font, 300, 16px, #FFF);
        position: relative;
        padding: 0px 10px;

        &:hover{
            font-weight: 600;
        }

        &.active{
            &:before{
                @include animate(bounceInLeft, 0s);
                content: "";
                width: 100%;
                height: 3px;
                background-color: $color-red;
                display: block;
                position: absolute;
                bottom: -2px;
                left: 0;
            }
        }

        @media #{$break-down} {
            @include flexbox(column, nowrap, center, center, center);
            @include box-sizing;
            @include transition;
            padding: 15px;
            font-size: 20px;

            
            &.active{
                &:before{
                    display: none;
                }
            }

            &:not(.menu__item--alt):not(:first-of-type):after{
                content: "";
                @include opacity(.5);
                margin-top: 10px;
                width: 80%;
                height: 1px;
                background-color: #FFF;
            }

        }

        @include m('alt'){
            @include flexbox(row, nowrap, center, center, center);
            @include border-radius(220px);
            background-color: $color-red;
            padding: 10px 20px;
            height: auto !important;
            font-weight: 600;
            color: #FFF !important;
            max-width: 210px;
            @include res-max(850px){
                margin: 0px auto;
            }
            &:after{
                @include set-icon($fa-var-angle-double-right,19px, 900, #FFF);
                margin-left: 10px;
            }
            &:before{
                display: none !important;
            }
        }

    }

}
