.keys {
    overflow: hidden;

    @include e('title') {
        @include fonte($second-font, 800, 48px, #000);
        @include transition;
        width: 100%;
        text-align: center;
        margin: 30px 0px;

        &:after {
            content: "";
            width: 54px;
            height: 7px;
            display: block;
            background-color: #000;
            margin: 5px auto;
        }
    }

    .owl-nav {
        margin: 0px;
        padding: 0px;
        height: 0;

        .owl-prev {
            left: 0px;

            span {
                &:before {
                    @include set-icon($fa-var-angle-left, 0px, 900, #000);
                }
            }
        }

        .owl-next {
            right: 0px;

            span {
                &:before {
                    @include set-icon($fa-var-angle-right, 0px, 900, #000);
                }
            }
        }

        .owl-prev,
        .owl-next {
            position: absolute;
            top: calc(50% - 25px);
            cursor: pointer;

            span {
                font-size: 0px;

                &:before {
                    font-size: 50px;
                }
            }

            &:hover {
                background-color: transparent;
            }
        }

    }

    .owl-dots {
        @include flexbox(row, nowrap, center, center, center);
        @include bgimage('tilebg.jpg');
        background-repeat: repeat-x;
        background-position: center;
        position: relative;
        margin: 15px 0px;

        .owl-dot {
            background-color: #FFF;

            &.active {
                span {
                    width: 15px;
                    height: 15px;
                    background-color: #000;
                }
            }
        }

    }

}

.key {
    @include flexbox(row, nowrap, center, center, center);

    @include e('info') {
        width: calc(50% - 20px);
        margin-left: 15px;
    }

    @include e('photo') {
        @include border-radius(100%);
        width: calc(50% - 20px);
        width: 320px;
        height: 320px;
        overflow: hidden;
        margin-right: 15px;
        img{
            width: 100%;
            height: auto;
        }
    }

    @include e('type') {
        @include fonte($second-font, 400, 18px, #000);
        display: block;
        width: 100%;
    }

    @include e('name') {
        @include fonte($second-font, 800, 34px, #000);
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    @include e('desc') {
        @include fonte($second-font, 400, 18px, #000);
        display: block;
        width: 100%;
    }

}




@include res-max(350px) {

    .keys {
        @include e('title') {
            font-size: 35px;
        }

        .owl-nav {
            display: none;
        }

        .owl-dots {
            @include flexbox(column, nowrap, center, center, center);
            background: none;
            position: absolute;
            right: 0px;
            top: 0px;
            height: auto;
            padding: 0px;
            margin: 0;
            
            .owl-dot {
                @include flexbox(column, nowrap, center, center, center);
                width: 30px;
                height: 30px;
                background: transparent;
    
                span {
                    @include transition;
                    width: 8px;
                    height: 8px;
                }
    
                &.active {
                    span {
                        width: 15px;
                        height: 15px;
                        background: #000;
                    }
                }
            }
    
        }
    }

    .key {
        @include fb-direction(column);
        @include fb-wrap(wrap);

        @include e('info') {
            @include order(2);
            width: 100%;
            margin: 0px;
            padding: 10px 15px;
            text-align: center;
        }

        @include e('photo') {
            @include order(1);
            margin: 0px;
            width: 200px;
            height: 200px;
        }
    }

}

@include res-between(351px, 450px) {
    .keys {
        @include e('title') {
            font-size: 35px;
        }

        .owl-nav {
            display: none;
        }

        .owl-dots {
            @include flexbox(column, nowrap, center, center, center);
            background: none;
            position: absolute;
            right: 0px;
            top: 0px;
            height: auto;
            padding: 0px;
            margin: 0;
            
            .owl-dot {
                @include flexbox(column, nowrap, center, center, center);
                width: 30px;
                height: 30px;
                background: transparent;
    
                span {
                    @include transition;
                    width: 8px;
                    height: 8px;
                }
    
                &.active {
                    span {
                        width: 15px;
                        height: 15px;
                        background: #000;
                    }
                }
            }
    
        }
    }

    .key {
        @include fb-direction(column);
        @include fb-wrap(wrap);

        @include e('info') {
            @include order(2);
            width: 100%;
            margin: 0px;
            padding: 10px 15px;
            text-align: center;
        }

        @include e('photo') {
            @include order(1);
            margin: 0px;
            width: 200px;
            height: 200px;
        }
    }

}

@include res-between(451px, 550px) {
    .keys {
        @include e('title') {
            font-size: 35px;
        }

        .owl-nav {
            display: none;
        }

        .owl-dots {
            @include flexbox(column, nowrap, center, center, center);
            background: none;
            position: absolute;
            right: 0px;
            top: 0px;
            height: auto;
            padding: 0px;
            margin: 0;
            
            .owl-dot {
                @include flexbox(column, nowrap, center, center, center);
                width: 30px;
                height: 30px;
                background: transparent;
    
                span {
                    @include transition;
                    width: 8px;
                    height: 8px;
                }
    
                &.active {
                    span {
                        width: 15px;
                        height: 15px;
                        background: #000;
                    }
                }
            }
    
        }
    }

    .key {
        @include fb-direction(column);
        @include fb-wrap(wrap);

        @include e('info') {
            @include order(2);
            width: 100%;
            margin: 0px;
            padding: 10px 15px;
            text-align: center;
        }

        @include e('photo') {
            @include order(1);
            margin: 0px;
            width: 320px;
            height: 320px;
        }
    }

}

@include res-between(551px, 650px) {
    .keys {
        @include e('title') {
            font-size: 35px;
        }

        .owl-nav {
            display: none;
        }

        .owl-dots {
            @include flexbox(column, nowrap, center, center, center);
            background: none;
            position: absolute;
            right: 0px;
            top: 0px;
            height: auto;
            padding: 0px;
            margin: 0;

            .owl-dot {
                @include flexbox(column, nowrap, center, center, center);
                width: 30px;
                height: 30px;
                background: transparent;

                span {
                    @include transition;
                    width: 8px;
                    height: 8px;
                }

                &.active {
                    span {
                        width: 15px;
                        height: 15px;
                        background: #000;
                    }
                }
            }

        }
    }

    .key {
        @include fb-direction(column);
        @include fb-wrap(wrap);

        @include e('info') {
            @include order(2);
            width: 100%;
            margin: 0px;
            padding: 10px 15px;
            text-align: center;
        }

        @include e('photo') {
            @include order(1);
            margin: 0px;
            width: 320px;
            height: 320px;
        }
    }
}

@include res-between(651px, 750px) {

    .keys {

        .owl-nav {
            display: none;
        }
    }

}

@include res-between(751px, 850px) {}

@include res-between(851px, 1000px) {}

@include res-min(1001px) {}