.speakers{
    padding: 35px 0px;
    overflow: hidden;

    .wrapper{
        @include flexbox(row, wrap, space-between, inherit, flex-start);

        @include res-max(450px) {
            @include flexbox(row, wrap, center, inherit, flex-start);
        }
    }

    .speaker{
        margin-bottom: 30px;
        padding: 0px 17px;
        max-width: 200px;

        @include e('photo'){
            @include border-radius(100%);
            @include transition;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-bottom: 100%;

            img{
                @include transition;
                width: 100%;
                height: 100%;
                position: absolute;
            }

            @include e('opt') {

                &:after,
                &:before {
                    content: "";
                    @include opacity(0);
                    @include transition;
                    width: 54px;
                    height: 6px;
                    background-color: #FFF;
                    display: block;
                    position: absolute;
                    left: calc(50% - 27px);
                    top: calc(50% - 3px);
                }
            }

            &:hover{
                background-color: #000;
                img{
                    @include opacity(.5);
                    @include scale(1.2);
                }

                .speaker__photo__opt{
                    &:after,
                    &:before{
                        @include opacity(1);
                    }
                    
                    &:after{
                        @include transform(rotate(90deg));
                    }

                    &:before{
                        @include transform(rotate(-180deg));
                    }
                }
            }
        }

        @include e('name'){
            @include fonte($second-font, 800, 18px, #000);
            display: block;
            width: 100%;
            text-align: center;
            margin: 20px 0px 5px 0px;
        }

        @include e('job'){
            @include fonte($second-font, 400, 18px, #000);
            display: block;
            width: 100%;
            text-align: center;
        }

        @include e('desc'){
            display: none;
        }

        @include e('social'){
            display: none;
        }

    }


    @include res-max(350px) {
        .speaker{
            width: calc(100% / 1 - 34px);
            max-width: 250px;
        }
    }

    @include res-between(351px, 450px) {
        .speaker{
            width: calc(100% / 2 - 34px);
        }
    }

    @include res-between(451px, 550px) {
        .speaker{
            width: calc(100% / 2 - 34px);
        }
    }
    @include res-between(551px, 650px) {
        .speaker{
            width: calc(100% / 3 - 34px);
        }
    }
    @include res-between(651px, 750px) {
        .speaker{
            width: calc(100% / 3 - 34px);
        }
    }
    @include res-between(751px, 850px) {
        .speaker{
            width: calc(100% / 4 - 34px);
        }
    }
    
    @include res-between(851px, 950px) {
        .speaker{
            width: calc(100% / 4 - 34px);
        }
    }
    
    
}

.modal-content {
    .speaker{
        @include flexbox(row, nowrap, space-around, center, center);
        width: 100%;
        overflow: hidden;
        
        @include e('photo'){
            @include border-radius(100%);
            overflow: hidden;
            width: 320px;
            height: 320px;
            img{
                width: 100%;
                height: auto;
            }
        }

        @include e('info') {
            @include flexbox(row, wrap, flex-start, center, center);
            width: 60%;
            padding-left: 30px;
        }

        @include e('name'){
            @include fonte($second-font, 800, 34px, #041328);
            display: block;
            width: 100%;
            margin-top: 15px;

        }

        @include e('job') {
            @include fonte($second-font, 400, 26px, #041328);
            display: block;
            width: 100%;
        }

        @include e('desc'){
            @include fonte($second-font, 400, 18px, #000);
            margin: 20px 0px;
            display: block;
            width: 100%;
        } 
        
        @include e('social'){
            margin-bottom: 10px;
            cursor: pointer;
            a{
                @include flexbox(row, wrap, center, center, center);
                @include border-radius(100%);
                width: 45px;
                height: 45px;
                background-color: #041328;  
            }
            i{
                color: #FFF;
                font-size: 25px;
            }

            &:hover{
                @include animate(heartBeat, 0s);
            }

        }


        @include res-max(350px) {
            @include fb-direction(column);
            padding-top: 40px;

            @include e('photo'){
                width: 240px;
                height: 240px;
            }

            @include e('info'){
                @include box-sizing;
                width: 100%;
                padding: 0px 15px;
                margin: 0;
            }

            @include e('name'){
                text-align: center;
            }

            @include e('job'){
                text-align: center;
            }

        }

        @include res-between(351px, 850px) {
            @include fb-direction(column);
            padding-top: 40px;

            @include e('photo'){
                width: 240px;
                height: 240px;
            }

            @include e('info'){
                @include box-sizing;
                width: 100%;
                padding: 0px 15px;
                margin: 0;
            }

            @include e('name'){
                text-align: center;
            }

            @include e('job'){
                text-align: center;
            }

            @include e('social'){
                margin: 15px auto;
            }
     
        }


    }
}