.welcome {
    @include box-sizing;
    overflow: hidden;
    
    .wrapper {
        @include flexbox(row, wrap, space-between, inherit, flex-start);
    }

    @include e('col') {
        @include flexbox(column, nowrap, space-between, flex-start, flex-start);
        @include box-sizing;
        width: calc(50% - 30px);
    }

    @include e('title') {
        @include fonte($second-font, 800, 48px, #000);
        margin: 30px 0px;

        &:after {
            content: "";
            width: 54px;
            height: 7px;
            display: block;
            background-color: #000;
        }
    }

    @include e('txt') {
        @include fonte($second-font, 400, 18px, #5a5a5a);
        display: block;
    }

    @include e('img') {
        width: 100%;
        display: block;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @include e('slogan') {
        margin: 30px 0px;
        img{
            width: auto;
            max-height: 50px;
        }
    }

    @include e('tip') {
        @include flexbox(row, nowrap, space-between, flex-start, flex-start);
        margin-bottom: 25px;

        img {
            margin-right: 10px;
            height: auto;
            max-width: 61px;
        }

        strong {
            @include fonte($second-font, 800, 26px, #000);
            margin: 10px 0px;
            display: block;
        }

        >div>strong {
            margin-bottom: 0px;
        }
    }


    .boxslider{
        @include flexbox(row, nowrap, space-between, inherit, flex-start);
        @include transition;
        width: 100%;
        overflow: hidden;
        margin-top: 30px;
        margin-bottom: 30px;

        @include e('col'){
            @include transition;
            position: relative;
            height: 360px;

            &.col_l{
                width: 228px;
            }

            &.col_r{
                width: 210px;
            }
        }

        @include e('box'){
            @include transition;
            overflow: hidden;

            div{
                width: 100%;
                height: 100% !important;
                background-size: cover;
                background-position: center;
            }

            &.one{
                width: 228px;
                height: 212px;
                position: absolute;
                top: 0px;
                left: 0;
            }

            &.two{
                width: 70px;
                height: 136px;
                position: absolute;
                bottom: 0px;
                left: 0px;
            }

            &.three{
                width: 143px;
                height: 136px;
                position: absolute;
                bottom: 0px;
                right: 0px;
            }

            &.four{
                width: 210px;
                height: 100%;
                position: absolute;
                right: 0px;
                top: 0px;
            }
        }

    }


    @include res-max(850px) {

    }

    @include res-max(350px) {
        @include e('col') {
            width: 100%;
        }

        .boxslider{
            .col_r{
                display: none;
            }
            .col_l{
                width: 100%;
                .one{
                    width: 100%;
                }
                .two,
                .three{
                    width: calc(50% - 5px);
                }

            }
        }
    }

    @include res-between(351px, 450px) {
        @include e('col') {
            width: 100%;
        }

        @include e('slogan') {
            img{
                max-height: 55px;
            }
        }

        .boxslider{
            .col_r{
                display: none;
            }
            .col_l{
                width: 100%;
                .one{
                    width: 100%;
                }
                .two,
                .three{
                    width: calc(50% - 5px);
                }

            }
        }
    
    }

    @include res-between(451px, 550px) {
        @include e('col') {
            width: 100%;
        }
        @include e('slogan') {
            img{
                max-height: 50px;
            }
        }

        .boxslider{
            .col_r,
            .col_l{
                width: calc(50% - 5px);
                height: 355px;
            }
            
            .one{
                width: 100%;
            }
            .two,
            .three{
                width: calc(50% - 5px);
            }
            .four{
                width: 100%;
                height: 100%;
            }
        }

    }

    @include res-between(551px, 650px) {
        @include e('col') {
            width: 100%;
        }

        .boxslider{
            .col_r,
            .col_l{
                width: calc(50% - 5px);
                height: 355px;
            }
            
            .one{
                width: 100%;
            }
            .two,
            .three{
                width: calc(50% - 5px);
            }
            .four{
                width: 100%;
                height: 100%;
            }
        }

    }

    @include res-between(651px, 750px) {
        @include e('col') {
            width: 100%;
        }

        .boxslider{
            max-width: 600px;
            .col_r,
            .col_l{
                width: calc(50% - 5px);
                height: 355px;
            }
            
            .one{
                width: 100%;
            }
            .two,
            .three{
                width: calc(50% - 5px);
            }
            .four{
                width: 100%;
                height: 100%;
            }
        }

    }

    @include res-between(751px, 850px) {
        @include e('col') {
            width: 100%;
        }
        .boxslider{
            max-width: 600px;
            .col_r,
            .col_l{
                width: calc(50% - 5px);
                height: 355px;
            }
            
            .one{
                width: 100%;
            }
            .two,
            .three{
                width: calc(50% - 5px);
            }
            .four{
                width: 100%;
                height: 100%;
            }
        }
    }

    @include res-between(851px, 1000px) {
        .boxslider{
            max-width: 600px;
            .col_r,
            .col_l{
                width: calc(50% - 5px);
                height: 355px;
            }
            
            .one{
                width: 100%;
            }
            .two,
            .three{
                width: calc(50% - 5px);
            }
            .four{
                width: 100%;
                height: 100%;
            }
        }
    }

    @include res-min(1001px) {
       
    }

}