body {
    font-family: $system-font;
    background-color: #FFF;

    @media screen and #{$onlyDesktop} {
        padding-top: 157px;
    }
}

a {
    text-decoration: none;
}
.row-fluid [class*="span"] {
    min-height: auto;
}