.topSlider {

    .first {
        @include flexbox(column, wrap, space-between, center, center);

        &:before {
            @include bgimage('bgtop1.jpg');
        }

        .wrapper {
            @include flexbox(column, nowrap, space-between, flex-start, flex-start);
        }


        .line {
            width: 100%;
            @media #{$wrap-up} {
                @include flexbox(row, wrap, space-between, flex-start, flex-start);
            }
            .sep {
                margin: 0px 15px;
            }
        }

        .logo {
            @include animate(fadeInLeft, 0s);
        }

        .sep {
            @include animate(fadeIn, 1s);
            position: relative;
        }

        .slogan {
            overflow: hidden;

            @include e('you') {
                @include animate(fadeInLeft, 1.5s);
            }

            @include e('make') {
                @include animate(fadeInLeft, 1.7s);
            }

            @include e('the') {
                @include animate(fadeInLeft, 1.9s);
            }

            @include e('future') {
                @include animate(fadeInLeft, 2.1s);
            }

            @include e('txt') {
                @include fonte($second-font, 300, 36px, #FFF);
                @include animate(fadeInUp, 1.9s);
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 7px;

            }
        }

        .info {
            @include flexbox(row, wrap, space-between, center, center);
            @include animate(fadeInUp, 1.9s);
            width: 100%;

            @include e('desc') {
                @include flexbox(row, nowrap, flex-start, center, center);

                strong {
                    @include fonte($second-font, 800, 43px, #FFF);
                }

                span {
                    @include fonte($second-font, 300, 27px, #FFF);
                }

                img {
                    margin-right: 10px;
                }

            }


        }

        .next {
            width: 100%;
            text-align: center;
            padding: 10px 0px;
            margin-bottom: 30px;

            i {
                font-size: 35px;
                color: #FFF;
                animation: arrowBounce 2s infinite;
                -webkit-animation: arrowBounce 2s infinite;
                -moz-animation: arrowBounce 2s infinite;
                -o-animation: arrowBounce 2s infinite;
            }
        }



        @include res-max(850px) {

            .logo,
            .sep,
            .slogan__txt,
            .info__desc--local {
                display: none;
            }

            .timer {
                margin: 10px 0px;

                .timer__block {
                    width: 70px;
                    height: 70px;
                }
            }

            .info__desc {
                width: 100%;

                img {
                    max-width: 55px;
                }

                span {
                    font-size: 43px;
                }

                >div {
                    width: 100%;

                    br {
                        display: none;
                    }
                }
            }
        }

        @include res-max(350px) {
            .slogan {
                img {
                    max-height: 50px;
                    width: auto;
                }
            }
        }

        @include res-between(351px, 450px) {
            .slogan {
                img {
                    max-height: 60px;
                    width: auto;
                    display: block;
                }

                br {
                    display: none;
                }
            }
        }

        @include res-between(451px, 550px) {
            .slogan {
                img {
                    max-height: 65px;
                    width: auto;
                    display: inline-block;
                }

                br {
                    display: none;
                }
            }
        }

        @include res-between(551px, 650px) {
            .slogan {
                img {
                    max-height: 80px;
                    width: auto;
                    display: inline-block;
                }

                br {
                    display: none;
                }
            }

        }

        @include res-between(651px, 750px) {
            .slogan {
                img {
                    max-height: 80px;
                    width: auto;
                    display: inline-block;
                }
            }

            .info {
                .info__desc--local {
                    display: flex;
                    width: 100%;

                    br {
                        display: block;
                    }
                }
            }
        }

        @include res-between(751px, 850px) {
            .slogan {
                img {
                    max-height: 80px;
                    width: auto;
                    display: inline-block;
                }
            }

            .info {
                .info__desc--date {
                    width: 50%;
                }

                .info__desc--local {
                    display: flex;
                    width: 100%;

                    br {
                        display: block;
                    }
                }
            }

        }

        @include res-between(851px, 1000px) {
            .logo {
                display: none;
            }

            .sep {
                display: none;
            }

            .slogan {
                img {
                    max-height: 80px;
                    width: auto;
                    display: inline-block;
                }

                @include e('txt') {
                    text-align: left;
                    font-size: 27px;
                }
            }

            .info {
                @include flexbox(row, wrap, flex-start, center, center);

                .timer {
                    margin: 10px 0px;

                    .timer__block {
                        width: 70px;
                        height: 70px;
                    }
                }

                .info__desc {
                    @include m('date') {
                        margin: 0px 15px;
                    }

                    img {
                        max-width: 50px;
                    }

                    strong {
                        font-size: 28px;
                    }

                    span {
                        font-size: 20px;
                    }
                }


            }

        }

        @include res-min(1001px){
            .line{
                padding-top: 70px;
            }
        }

    }
}