.topSlider {
    .fogaca {


        &:before {
            @include bgimage('bgtop_fogaca.jpg');
        }

        .wrapper {
            @include flexbox(column, wrap, flex-start, flex-start, flex-start);
        }

        @include e('about') {
            @include fonte($second-font, 300, 36px, #FFF);
            @include transition;
            margin-bottom: 10px;
            display: block;
            width: 100%;

            img {
                display: block;
                height: auto;
            }

        }

        @include e('name') {
            @include fonte($second-font, 900, 85px, #FFF);
            @include transition;
            line-height: 70px;
            margin-bottom: 45px;
            margin-top: 30px;
        }

        @include e('photo') {
            @include transition;
            position: absolute;
            bottom: -370px;
            right: 0;
        }

        @include e('slogan') {
            @include res-between(0px, 1000px) {
                display: none;
            }

            position: absolute;
            bottom: -70px;
            left: 0;
        }


        @include res-max(1000px){
            @include e('timer') {
                margin: 10px 0px;

                .timer__block {
                    width: 70px;
                    height: 70px;
                }
            }
        }

        @include res-max(350px) {
            @include e('about') {
                font-size: 24px;
                max-width: 200px;
                img{
                    max-width: 20px;
                }
            }
            @include e('name') {
                font-size: 35px;
                line-height: 31px;
                margin-top: 0px;
            }
            @include e('photo') {
                max-width: 310px;
                top: 0px;
                right: -50px;
            }
            @include e('timer'){
                @include transition;
                position: absolute;
                bottom: 0px;
                z-index: 1;
                .timer{
                    @include flexbox(column, wrap, flex-start, flex-start, flex-start);
                }
                .timer__block {
                    width: 80px;
                    height: 80px;
                    @include m('hour'){
                        margin: 10px 0px;
                    }
                }
            }
        }

        @include res-between(351px, 450px) {
            @include e('about') {
                font-size: 24px;
                max-width: 200px;
                img{
                    max-width: 20px;
                }
            }
            @include e('name') {
                font-size: 35px;
                line-height: 31px;
                margin-top: 0px;
            }
            @include e('photo') {
                max-width: 370px;
                top: 0px;
                right: -50px;
            }
            @include e('timer'){
                @include transition;
                position: absolute;
                bottom: 0px;
                z-index: 1;
                .timer{
                    @include flexbox(column, wrap, flex-start, flex-start, flex-start);
                }
                .timer__block {
                    width: 80px;
                    height: 80px;
                    @include m('hour'){
                        margin: 10px 0px;
                    }
                }
            }
        }

        @include res-between(451px, 550px) {
            @include e('about') {
                font-size: 30px;
                max-width: 250px;
                img{
                    max-width: 30px;
                }
            }
            @include e('name') {
                font-size: 52px;
                line-height: 50px;
                margin-top: 0px;
            }
            @include e('photo') {
                max-width: 370px;
                top: 0px;
                right: -50px;
            }
            @include e('timer'){
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer__block {
                    width: 85px;
                    height: 85px;
                }
            }
        }

        @include res-between(551px, 650px) {
            @include e('about') {
                font-size: 35px;
                max-width: 250px;
                img{
                    max-width: 40px;
                }
            }
            @include e('name') {
                font-size: 65px;
                line-height: 60px;
                margin-top: 0px;
            }
            @include e('photo') {
                max-width: 440px;
                top: 0px;
                right: -50px;
            }
            @include e('timer'){
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer__block {
                    width: 85px;
                    height: 85px;
                }
            }
        }

        @include res-between(651px, 750px) {
            @include e('about') {
                font-size: 35px;
                max-width: 250px;
                img{
                    max-width: 40px;
                }
            }
            @include e('name') {
                font-size: 65px;
                line-height: 60px;
                margin-top: 0px;
            }
            @include e('photo') {
                max-width: 440px;
                top: 0px;
                right: -50px;
            }
            @include e('timer'){
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer__block {
                    width: 85px;
                    height: 85px;
                }
            }
        }

        @include res-between(751px, 850px) {
            @include e('about') {
                font-size: 35px;
                img{
                    max-width: 40px;
                }
            }
            @include e('name') {
                font-size: 65px;
                line-height: 60px;
                margin-top: 0px;
            }
            @include e('photo') {
                max-width: 550px;
                top: 0px;
                right: -50px;
            }
            @include e('timer'){
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer__block {
                    width: 85px;
                    height: 85px;
                }
            }
        }

        @include res-between(851px, 1000px) {
          
            @include e('about') {
                font-size: 35px;
                img{
                    max-width: 40px;
                }
            }
            @include e('name') {
                font-size: 65px;
                line-height: 60px;
                margin-top: 0px;
            }
            @include e('photo') {
                max-width: 450px;
                top: 0px;
                right: 40px;
            }
            @include e('timer'){
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer__block {
                    width: 85px;
                    height: 85px;
                }
            }

        }

    }

}