.topSlider {
    .show {

        &:before {
            @include bgimage('bgtop_luan.jpg');
        }

        .wrapper {
            @include flexbox(column, wrap, flex-start, flex-start, flex-start);
        }

        @include e('about') {
            @include fonte($second-font, 300, 36px, #FFF);
            @include transition;
            margin-bottom: 10px;
            display: block;
            width: 100%;

            img {
                display: block;
            }

        }

        @include e('name') {
            width: auto;

            img {
                @include transition;
                width: 100%;
                max-width: 490px;
                margin: 40px 0px;
            }

        }

        @include e('photo') {
            @include transition;
            position: absolute;
            max-width: 600px;
            top: 0px;
            right: 0px;
        }

        @include e('timer') {
            @include res-max(850px) {
                @include flexbox(row, nowrap, flex-start, center, center);
                z-index: 1;
                margin-bottom: 10px;
            }

            .timer{
                @include transition;
            }

        }

        @include e('slogan') {
            @include res-between(0px, 1000px) {
                display: none;
            }
            position: absolute;
            bottom: -175px;
            left: 0;
        }


        @include res-max(1000px){
            @include e('timer') {
                margin: 10px 0px;

                .timer__block {
                    width: 70px;
                    height: 70px;
                }
            }
        }

        @include res-max(350px) {

            @include e('about') {
                font-size: 20px;
                max-width: 200px;
                img{
                    max-width: 20px;
                }
            }

            @include e('name') {
               img{
                    max-width: 160px;
                    margin-top: 10px;
               }
            }

            @include e('photo') {
                max-width: 310px;
                top: 0px;
                right: -100px;
            }

            @include e('timer'){
                @include transition;
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer{
                    @include flexbox(column, wrap, flex-start, flex-start, flex-start);
                }
                .timer__block {
                    width: 80px;
                    height: 80px;
                    @include m('hour'){
                        margin: 10px 0px;
                    }
                }
            }

        }

        @include res-between(351px, 450px) {
            @include e('about') {
                font-size: 20px;
                max-width: 200px;
                img{
                    max-width: 20px;
                }
            }
            @include e('name') {
               img{
                    max-width: 160px;
                    margin-top: 10px;
               }
            }
            @include e('photo') {
                max-width: 370px;
                top: 0px;
                right: -100px;
            }
            @include e('timer'){
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer{
                    @include flexbox(column, wrap, flex-start, flex-start, flex-start);
                }
                .timer__block {
                    width: 80px;
                    height: 80px;
                    @include m('hour'){
                        margin: 10px 0px;
                    }
                }
            }
        }

        @include res-between(451px, 550px) {
            @include e('about') {
                font-size: 30px;
                max-width: 200px;
                img{
                    max-width: 35px;
                }
            }
            @include e('name') {
               img{
                    max-width: 220px;
                    margin-top: 10px;
               }
            }
            @include e('photo') {
                max-width: 415px;
                top: 0px;
                right: -100px;
            }
            @include e('timer'){
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer__block {
                    width: 85px;
                    height: 85px;
                }
            }
        }

        @include res-between(551px, 650px) {
            @include e('about') {
                font-size: 37px;
                max-width: 300px;
                img{
                    max-width: 40px;
                }
            }
            @include e('name') {
               img{
                max-width: 280px;
                margin-top: 10px;
               }
            }
            @include e('photo') {
                max-width: 475px;
                top: 0px;
                right: -110px;
            }
            @include e('timer'){
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer__block {
                    width: 85px;
                    height: 85px;
                }
            }
        }

        @include res-between(651px, 750px) {
            @include e('about') {
                font-size: 37px;
                max-width: 300px;
                img{
                    max-width: 40px;
                }
            }
            @include e('name') {
               img{
                max-width: 340px;
                margin-top: 10px;
               }
            }
            @include e('photo') {
                max-width: 540px;
                top: 0px;
                right: -110px;
            }
            @include e('timer'){
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer__block {
                    width: 85px;
                    height: 85px;
                }
            }
        }

        @include res-between(751px, 850px) {
            @include e('about') {
                font-size: 45px;
                max-width: 300px;
                img{
                    max-width: inherit;
                }
            }
            @include e('name') {
               img{
                max-width: 380px;
                margin-top: 10px;
               }
            }
            @include e('photo') {
                max-width: 600px;
                top: 0px;
                right: -110px;
            }
            @include e('timer'){
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer__block {
                    width: 85px;
                    height: 85px;
                }
            }
        }

        @include res-between(851px, 1000px) {
          
            @include e('about') {
                font-size: 35px;
                max-width: inherit;
                img{
                    max-width: inherit;
                }
            }
            @include e('name') {
               img{
                max-width: 380px;
                margin-top: 10px;
               }
            }
            @include e('photo') {
                max-width: 480px;
                top: 0px;
                right: 0px;
            }
            @include e('timer'){
                position: absolute;
                bottom: 10px;
                z-index: 1;
                .timer__block {
                    width: 85px;
                    height: 85px;
                }
            }

        }

    }

}